@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

* {
  font-family: 'Open Sans', monospace;
}

body {
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #575F7D;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 100%;
  height: 100vh;
}

/* ----- Top card ----- */

.content {
  background-color: #fff;
  width: 50vw;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.content h1 {
  color: #6B72E1;
}

.content img {
  height: 150px;
  border-radius: 50%;
}

.content p {
  margin-bottom: 40px;
}

.content a {
  color: #fff;
  background-color: #6B72E1;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.content a:hover {
  background-color: #7ECE90;
  transition: background-color 0.25s ease-in;
}

/* ----- Bottom card ----- */

.footer {
  background-color: #fff;
  width: 50vw;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.footer h2 {
  color: #7ECE90
}

.footer li {
  display: inline;
  margin-right: 50px;
  font-size: 40px;
}

.footer a {
  color: #6B72E1;
  text-decoration: none;
}

.footer a:hover {
  color: #7ECE90;
  transition: color 0.25s ease-in;
}

/* ----- Responsive ----- */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}